/* ==UserStyle==
@name           Dark Discord Black Clean Compact D2-B-C2
@author         ZXY-CC-3ag13
@description    Improve discord by removing unnecessary nitro prompts and enforces dark-mode
@namespace      discord.com
@version        1.0.1
==/UserStyle== */

@-moz-document domain("discord.com") {

    /* Code for top right toolbar*/
    [class^="toolbar-"] {
        max-width: 40px;
        height: 100%;
    }

    [class^="toolbar-"]::before {
        content: "︙";
        font-size: 24px;
        margin: 0 8px;
    }

    /*hover == true*/
    [class^="toolbar-"]:hover {
        max-width: 100vw;
    }

    [class^="toolbar-"]:hover::before {
        content: "<";
        font-size: 24px;
        margin: 0 8px;
    }

    /* Code for channel bar*/
    [class|=sidebar] {
        width: 8px !important;
    }

    [class|=sidebar]:hover {
        width: 240px !important;
    }

    /*
        Solved problem to lunos
        Thanks lunos
    */
    .panels-3wFtMD {
        z-index: 0;
    }

    /*
    Code for removing:
    nitro button, sticker button, help button, download app button,
    add a server button,explore button, nitro buying in main panel
*/
    .buttons-uaqb-5>button:nth-child(1),
    .buttons-uaqb-5>div:nth-child(3),
    .toolbar-3_r2xA>a.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX,
    div.listItem-3SmSlK:nth-of-type(7),
    .scrollerBase-_bVAAt.none-2-_0dP.scroller-3X7KbA>div.listItem-3SmSlK>.listItemWrapper-3d87LP,
    .tutorialContainer-2jwoiB>.listItem-3SmSlK,
    button#sticker-picker-tab,
    li.channel-1Shao0.container-32HW5s:nth-child(3),
    .notice-2HEN-u.colorGreen-2YU4w4 {
        display: none !important;
    }

    .theme-dark {
        --text-normal: #ffffff;
        --scrollbar-auto-thumb: #fff;
        --channeltextarea-background: #000000;
        --background-primary: #000;
        --background-secondary: #000;
        --background-secondary-alt: #000;
        --background-tertiary: #000;
        --background-accent: #00aff4;
        --background-floating: #000;
        --scrollbar-auto-track: #000;
    }

    .autocomplete-3NRXG8,
    .categoryHeader-OpJ1Ly,
    .theme-dark .container-2McqkF,
    div#online-tab,
    div#all-tab,
    div#pending-tab,
    div#blocked-tab,
    div#add_friend-tab,
    .focusLock-2tveLW,
    .theme-dark .root-g14mjS,
    .theme-dark .autocomplete-3NRXG8 {
        background-color: #000;
    }

    .theme-dark .option-ayUoaq:after {
        background: linear-gradient(90deg, rgba(54, 57, 63, 0), #000000 80%);
    }
}